page-pre-home {
	.center {
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}

	.size_img img {
	    width: 100px;
	}

	.margin {
		margin-top: 100px; 
		margin-bottom: 20px;
		
	}

	.toolbar-background-ios {
		background: none;
	}
}
